.h1 {
	@apply font-fira font-semibold text-primary text-xl mb-8;
}

.h2 {
	@apply font-fira font-semibold text-primary text-lg mb-6;
}

.h1-prefix {
	@extend .h1;

	&::before {
		content: ">_ ";
	}
}

.h2-prefix {
	@extend .h2;

	&::before {
		content: ">_ ";
	}
}

p.paragraph {
	@apply font-fira font-normal text-base text-white;
}

a.link {
	&:link {
		@apply font-normal font-semibold text-base text-white underline;
	}

	&:visited {
		@apply text-gray-1;
	}

	&:hover {
		@apply text-primary;
	}

	&:focus {
		@apply text-red-600;
	}

	&:active {
		@apply text-primary;
	}
}

ul.list {
	@apply ml-2;

	> li {
		@apply list-['>'] text-white;

		> span {
			@apply block text-base ml-2;
		}
	}
}

.markdown {
	p {
		@extend .paragraph;
	}
}
