@import "./text.scss";
@import "./btns.scss";
@tailwind base;
@tailwind utilities;

:root {
	--c-primary: #45ff02;
	--c-primary-opacity: #45ff0215;
	--c-gray-1: #c7c7c620;
	--c-gray-2: #7f7f7f25;
	--c-gray-3: #cccccc;
	--c-gray-3-opacity: #cccccc50;
	--c-gray-4: #313131;
	--c-gray-5: #222222;
}

html {
	@apply h-full bg-gray-4;
}
