@import "./components.scss";
@import "./text.scss";
@import "./btns.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--c-primary: #45ff02;
	--c-secondary-text: #cccccc;
	--c-gray-1: rgba(199, 199, 198, 25);
	--c-gray-2: rgba(127, 127, 127, 20);
	--c-gray-3: #313131;
	--c-gray-4: #222222;
}
